.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Dictionary section {
    background: #f3f3f3;
    padding: 30px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    opacity: 0.9;
    border: 1px solid #ddd;

}

.searchBar {
    width: 80%;
    padding: 6px 10px;
    border-radius: 6px;
    color: #333;
}

.submitButton {
    width: 15%;
    background-color: #65849fb6;
    padding: 6px 10px;
    border: 1px solid #333;
    border-radius: 6px;
    color: #333;
    margin-left: 10px;
    
}

.submitButton :hover {
    cursor: pointer;
    
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;

}